<ul>
<%= games.length %>
  <% games.each(function (game) { %>
    <li class="game">
      <a href="#/games/<%= game.escape("id") %>">
        ASDF
      </a>
    </li>
  <% }); %>
</ul>
<br>
<a href="#/games/new">New Game!</a>
