<div class"new-game-container clearfix">
  <h1>New Gam</h1>
  <form>
  <label for="game_opponent_email">Who would you like to play? (email)</label>
  <input name="game[opponent_email]" id="game_opponent_email">
  <input type="radio name="game[current_user_color_choice]" value="Red" id="game_current_user_color_choice"
  <input id="selected_origin">
  <input id="link_origin_id" name="link[origin_id]" type="hidden">

  <button class="submit">Submit!</button>
  </form>

</div>
