<div class="new-game-container clearfix">
  <% console.log(open_games); %>
  <% console.log(friendships); %>
  <nav class="new-game-nav clearfix">
    <ul>
      <li class="current">Create Game</li>
      <li>Open Games</li>
      <li>Play a Friend</li>
      <li>Play Chai</li>
    </ul>
  </nav>
  <div class="create-game new-game-current"></div>
    <form>
    Which friend would you like to play?<br>
    <select name="game"><br>
    <input type="radio" name="game[current_user_color_choice]" value="Black" id="game_current_user_color_choice">Black<br>
    <input type="radio" name="game[current_user_color_choice]" value="White" id="game_current_user_color_choice">White<br>

    <button class="submit">Submit!</button>
    </form>

</div>

<script>
/*
  $(function() {
    $( "#game_opponent_email" ).autocomplete({
      source: "/users.json",
      minLength: 2,
      select: function( event, ui ) {
        console.log(ui);
      },
    });
  });
  */
</script>
<!--<label for="game_opponent_email">Enter your opponents email.</label>
<div class="ui-widget">
<input placeholder="Search by email" name="game[opponent_email]" id="game_opponent_email"><br>
</div> -->
