<a href="#/">Back!</a>

<div>
  <h1>New Game</h1>
  <form>
  <label for="game_black_user_id">Black User Id</label>
  <input name="game[black_user_id]" id="game_black_user_id">

  <button class="submit">Submit!</button>
  </form>
</div>
