<script type="application/json" id="bootstrapped_games_json">
  <%= current_user.games.to_json.html_safe %>
</script>

<div class="content" style="width: 500px; height: 500px; margin: auto; background-color:green;"></div>