<script type="application/json" id="bootstrapped_games_json">
  <%= current_user.games.to_json.html_safe %>
</script>

<div class="content"></div>

<script type="text/javascript">
  $(document).ready(function(){
    var gamesData = JSON.parse($("#bootstrapped_games_json").html());
    ChessApplication.initialize($('.content'), gamesData);
  });
</script>
