<nav class="nav-top clearfix">
  <ul class="nav-left clearfix">
    <li><a href="#/"><span class="nav-icon icon-pawn"></span></a></li>
    <li><a href="#/users/<%= current_user.id %>"><span class="nav-icon icon-earth"></span></a></li>
  </ul>
  <ul class="nav-right clearfix">
    <li><a href="<%= destroy_user_session_url %>" data-method="delete" rel="nofollow"><span class="nav-icon icon-exit"></i></a></li>
  </ul>
</nav>

<div class="content clearfix"></div>

<div id="nav-bot-container"></div>

<script type="application/json" id="bootstrapped_current_users_games_json">
  <%= current_user.accepted_games.to_json.html_safe %>
</script>

<script type="text/javascript">
  $(document).ready(function() {
    var currUserGamesData = JSON.parse($("#bootstrapped_current_users_games_json").html());
    ChessApplication.initialize($('.content'), $('#nav-bot-container'), <%= current_user.id %>, currUserGamesData);
  });
</script>

<script type="text/javascript">
  $(document).ready(function() {

    var $navtop = $('.nav-top');
    var top_h = $navtop.outerHeight();
    $navtop.css({
      top: -top_h * 2,
      opacity: 0,
      display: 'block'
    }).animate({
      top: 10,
      opacity: 1
    }, 1000, 'easeOutBounce')

  });
</script>
