/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  width: 600px;
  height: 600px;
  margin: auto;
}

.square {
  width: 73px;
  height: 73px;
  border: 1px solid black;
  float: left;
  font-family: "Chess Merida Unicode";
  line-height:73px;
  font-size: 73px;
  text-align: center;
  cursor: crosshair;
}

.user_info {
  list-style-type: none;
}

.logout {
  float: right;
}

.clicked {
  border: 1px solid red;
}

.dark {
  background: gray;
}

.moves {
  border: 1px solid black;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

.mini-square {
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
  font-family: "Chess Merida Unicode";
  line-height:10px;
  font-size: 10px;
  text-align: center;
  cursor: default;
}

.mini-board-holder {
border: 1px solid black;
padding: 20px;
width: 100%;
background: gray;
}

.mini-board {
height: 100px;
width: 100px;
margin: 10px;
float:left;
background: white;
}

.new-game {
float:left;
margin: 10px;
height: 94px;
width: 94px;
font-size: 88px;
text-align: center;
border: 1px solid black;
}

a:link {color:black; text-decoration:none}      /* unvisited link */
a:visited {color:black; text-decoration: none}  /* visited link */
a:hover {color:black;}  /* mouse over link */
a:active {color:black; text-decoration: none;}  /* selected link */
