/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
        display: block;
}
body {
  line-height: 1;
}
ol, ul {
        list-style: none;
}
blockquote, q {
        quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
        content: '';
        content: none;
}
table {
        border-collapse: collapse;
        border-spacing: 0;
}

/* Custom Reset */

input {
  font: inherit;
}

/* Elements */

body {
  font-family: 'Helvetica';
  font-size: 24px;
}

a:link, a:visited, a:hover, a:active {
  color: black;
}

nav li {
  margin: 10px;
}

nav a {
  color: #5D98D7;
  text-decoration: none;
}

nav a:hover {
  color: #5D98D7;
  box-sizing:border-box;
  border-bottom: 1px dotted #5D98D7;
}

/* Classes */

.nav-top li {
  position:relative;
  margin-right:30px;
}

.content {
  width: 600px;
  height: 600px;
  margin: auto;
  position: relative;
}

.notifications {
  width: 20px;
  position:absolute;
  left:0;
}

.notifications:hover {
  width: 30px;
  left:-5px;
  top:-5px;
}


.square {
  position: relative;
  width: 73px;
  height: 73px;
  border: 1px solid black;
  float: left;
  font-family: "Chess Utrecht";
  line-height:73px;
  font-size: 73px;
  text-align: center;
  cursor: crosshair;
  background-color: white;
}

.piece {
  color: black;
  position:absolute;
  top:0;
  left:0;
}

.piece-underlay {
  color:white;
  position: absolute;
  top:0;
  left:0;
}

.overlay {
  opacity:.97;
  background-color: #bbb;
  -webkit-box-shadow: 0px 27px 25px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    0px 27px 25px rgba(50, 50, 50, 0.9);
  box-shadow:         0px 27px 25px rgba(50, 50, 50, 0.9);
  border: 10px solid #5D87B9;
  position:absolute;
  top:10%;
  left:0;
  right:0;
  width: 350px;
  margin: auto;
  padding: 20px;
  z-index:9999;
  color:black;
}

.overlay-close {
  float: right;
}

.user_info {
  list-style-type: none;
}

.past-games {
  list-style-type: disc;
}

.nav-right{
  float: right;
}

.nav-left{
  float: left;
}

.clicked {
  border: 1px solid red;
}

.dark {
  background: gray;
}

.light {
  background: white;
}

.light-piece {
  color: white;
}

.moves {
  font-weight: lighter;
  border: 1px solid black;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }

.mini-square {
  position:relative;
  width: 10px;
  height: 10px;
  border: 1px solid black;
  float: left;
  font-family: "Chess Utrecht";
  line-height:10px;
  font-size: 10px;
  text-align: center;
  cursor: default;
}

.mini-board-holder {
  width: 100%;
  background: #ccc;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 8px rgba(50, 50, 50, 0.57);
  -moz-box-shadow:    4px 4px 8px rgba(50, 50, 50, 0.57);
  box-shadow:         4px 4px 8px rgba(50, 50, 50, 0.57);
  /* Radius */
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
  /* Gradient */
background: -moz-radial-gradient(center, ellipse cover, rgba(187,187,187,0.5) 0%, rgba(187,187,187,0.9) 100%); /* FF3.6+ */
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(187,187,187,0.5)), color-stop(100%,rgba(187,187,187,0.9))); /* Chrome,Safari4+ */
background: -webkit-radial-gradient(center, ellipse cover, rgba(187,187,187,0.5) 0%,rgba(187,187,187,0.9) 100%); /* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(center, ellipse cover, rgba(187,187,187,0.5) 0%,rgba(187,187,187,0.9) 100%); /* Opera 12+ */
background: -ms-radial-gradient(center, ellipse cover, rgba(187,187,187,0.5) 0%,rgba(187,187,187,0.9) 100%); /* IE10+ */
background: radial-gradient(ellipse at center, rgba(187,187,187,0.5) 0%,rgba(187,187,187,0.9) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80bbbbbb', endColorstr='#e6bbbbbb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.mini-board {
  -webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.57);
  -moz-box-shadow:    2px 2px 4px rgba(50, 50, 50, 0.57);
  box-shadow:         2px 2px 4px rgba(50, 50, 50, 0.57);
  width: 96px;
  margin: 20px;
  float:left;
  position:relative;
}

.new-game {
  float:left;
  margin: 20px;
  height: 96px;
  width: 96px;
  font-size: 96px;
  text-align: center;
}

.new-game img {
  height: 100%;
  width: 100%;
}
