/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.content {
  width: 600px;
  height: 600px;
  margin: auto;
}

.square {
  width: 73px;
  height: 73px;
  border: 1px solid black;
  float: left;
  font-family: "Chess Merida Unicode";
  font-size: 60px;
  text-align: center;
}

.dark {
  background: gray;
}

.moves {
  border: 1px solid black;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
  }
