.nav-top {
  z-index:1;
  position: fixed;
  width: 100%;
  top: -24px;
}

.nav-top a {
  text-decoration: none;
}

.nav-icon {
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  font-size: 170%;
  transition: color 0.2s ease-in-out;
  font-color: black;
  cursor: pointer;
}

.nav-icon:hover {
  color: #5D87B9;
}

.nav-right {
  float: right;
}

.nav-right li {
  margin-right: 20px;
  float: right;
}

.nav-left {
  float: left;
}

.nav-left li {
  margin-left: 20px;
  float: left;
}

.nav-bot {
  position: fixed;
  width: 100%;
  bottom: -24px;
}

.nav-bot a {
  text-decoration: none;
}

#nav-bot-container {
  position: fixed;
  bottom:0;
}

#chat-wrapper {
  position: fixed;
  right: 10px;
  bottom: 45px;
}

#pending-container {
  position: fixed;
  left: 10px;
  bottom: 45px;
}

#chat-container {
  display: none;
  padding: 10px;
  width: 300px;
  margin: 10px 0;
  background: white;
  max-height: 400px;
  overflow: auto;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.9);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.9);
  /* Radius */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

#selected-chat {
  display: none;
  margin: 10px 0;
  background: white;
  max-height: 600px;
  overflow: auto;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.9);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.9);
  /* Radius */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

#chat-container li {
  margin-top: 5px;
  cursor: pointer;
  padding: 10px;
}

#chat-container li:hover {
  background: #ccc;
}

#chat-container li:first-child {
  background: #5D87B9;
  text-align: center;
  margin-top: 0;
}

#pending-friends span, #pending-games span, #chat span {
  padding-bottom: 2px;
}

#pending-friends-container {
  display: none;
  padding: 10px;
  background: white;
  margin: 10px 0;
  width: 300px;
  max-height: 400px;
  overflow: auto;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.9);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.9);
  /* Radius */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

#pending-games-container {
  display: none;
  padding: 10px;
  background: white;
  margin: 10px 0;
  width: 300px;
  max-height: 400px;
  overflow: auto;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.9);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.9);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.9);
  /* Radius */
  border-radius: 3px 3px 3px 3px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
}

.pending-friend-list > li {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

.pending-friend-list li:last-child {
  border-bottom: none;
  margin-bottom: none;
}

.pending-friend-list li:first-child {
  background: #5D87B9;
  text-align: center;
  border-bottom: none;
}

.pending-friend-list .friend-thumbnail {
  width: 45px;
  margin: 0 10px 0 5px;
  float: left;
}

.pending-friend-list .friend-response-container {
  margin-top: 2px;
}

.pending-friend-list .accept-friendship, .pending-friend-list .deny-friendship {
  cursor: pointer;
}

.notif-container {
    position:relative;
}

.notif-bubble {
  position:absolute;    /* This breaks the div from the normal HTML document. */
  top: -10px;
  right: 17px;
  padding: 1px 5px 1px 5px;
  background-color:red; /* you could use a background image if you'd like as well */
  color:white;
  font-weight:bold;
  border-radius:30px;
}

.selected-nav {
  border-bottom: 2px solid #5D87B9;
}

.chat-list {
  margin: 10px;
}

.chat-list li {
  margin: 5px 0;
  width: 100%;
}

.chat-list li:first-child {
  margin: 0 0 5px 0;
}

.chat-exit {
  float: right;
  -webkit-border-radius: 3px 3px 3px 3px;
  cursor: pointer;
}

.otherUser-message {
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: left;
  background: #ddd;
  padding: 5px;
  max-width: 80%;
}

.currUser-message {
  display: inline-block;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  float: right;
  background: #5D87B9;
  padding: 5px 10px;
  max-width: 80%;
  color: white;
}

.chat-input {
  width: 90%;
  margin-right: 5px;
}

.sad-panda {
  padding: 15px 0 15px 0;
  text-align: center;
}

.selected-chat-friend {
  background: #ddd;
}
