.social-container {
  width: 100%;
  padding: 20px;
  background: white;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.57);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.57);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.57);
  /* Radius */
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

.profile-container {
  margin-top: 20px;
  position: relative;
}

.profile-container .friend-button {
  cursor: pointer;
  float:right;
}

.profile-container .unfriend-button {
  cursor: pointer;
  float: right;
}

.profile-container .request-sent-button {
  float: right;
}

.profile-container .pending-button {
  cursor: pointer;
  float: right;
}

.profile-container .past-games li {
  padding: 5px 0;
  list-style-type: none;
  border-top: 1px solid black
}

.profile-container #profile-tabs {
  font-size: 100%;
  width: 100%;
  background: #ccc;
}

.profile-container #profile-tabs li {
  float: left;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 10px;
}

.profile-container #profile-tabs span {
  margin: auto;
}

.profile-container #profile-tabs li:hover {
  background: #aaa;
}

.profile-container #profile-tabs li:active {
  background: #5D87B9;
} 

.social-container #profile-tabs .messages {
  float: right;
}

.profile-container .panel {
  font-size: 100%;
  overflow: auto;
  height: 300px;
  display: none;
  padding: 20px;
}

.profile-container .current-panel {
  display: block;
}

.profile-container .current-tab {
  background: #aaa;
}

.profile-container .profile-info-container {
  width: 100%;
  margin-bottom: 10px;
  margin-right: 10px;
}

.profile-container .profile-pic {
  height: 110px;
  float: left;
  border: white 2px solid;
  margin-right:10px;
  box-shadow: 0 0 10px #888;
  -moz-box-shadow: 0 0 10px #888888;
  -webkit-box-shadow: 0 0 10px #888;
}

.profile-nav {
  padding:5px;
  background:#5D87B9;
  /* Radius */
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;
}

.profile-nav #user_email {
  margin-right: 10px;
  width: 61.8%;
}

.profile-nav .user-search-button {
  color: white;
  cursor: pointer;
}

.social-container .friend-list {
  list-style-type: none;
}

.social-container .friend-list a {
  display: inline-block;
}

.social-container .friend-list > a > li:hover {
  background: #eee;
}

.social-container .friend-item {
  font-size:80%;
  float: left;
  width: 300px;
  height: 80px;
  padding: 5px 0 5px 0;
  margin-right: 10px;
  /* Shadow */
  -webkit-box-shadow: 4px 4px 10px rgba(50, 50, 50, 0.57);
  -moz-box-shadow:    4px 4px 10px rgba(50, 50, 50, 0.57);
  box-shadow:         4px 4px 10px rgba(50, 50, 50, 0.57);
  /* Radius */
  border-radius: 6px 6px 6px 6px;
  -moz-border-radius: 6px 6px 6px 6px;
  -webkit-border-radius: 6px 6px 6px 6px;-bottom: 10px;
}

.social-container .friend-item:hover {
  background-color: #fff;
}

.social-container .friend-thumbnail {
  height: 70px;
  float: left;
  margin: 0 10px 0 10px;
  border: 1px solid black;
}

.social-container .friend-info li{
  padding: 5px 0;
}
