<!DOCTYPE html>
<html>
<head>
  <title>Chessnuts</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/assets/favicon.ico" type="image/x-icon">
  <%= csrf_meta_tags %>
</head>
<body>

<!-- For Facebook Callbacks -->
<script type="text/javascript">
  if (window.location.hash && window.location.hash == '#_=_') {
    window.location.hash = '';
  }

</script>

<%= yield %>

</body>
</html>
